---
layout: layouts/base.njk
---

{% include "browserlist.njk" %}

<div class="center">
  <h3>API</h3>
  <p>The API endpoint is at [<code>/api/</code>](/api/).</p>
  <pre><code>$ curl https://www.browsers.fyi/api/</code></pre>
</div>

<div class="center">
  <h3>RSS</h3>
  <p>And because RSS is obviously not dead, a feed that includes releases notes is available at [<code>/feed/</code>](/feed/).</p>
</div>
