<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <style>
      html {
        font-family: sans-serif;
      }

      html, body {
        margin: 0;
        padding: 0;
        font-size: 110%;
      }

      @font-face {
        font-family: 'Devonshire';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./fancy-font.woff2) format('woff2');
      }

      h1 {
        font-size: clamp(2rem, 2rem + 10vw, 7rem);
        font-family: DevonShire;
        height: 1.5em;
        color: white;
        rotate: -5deg;
        background: linear-gradient(220.55deg, #00E0EE 0%, #AD00FE 100%);
        background-clip: text;
          -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        width: min-content;
        margin: 0 auto;
        font-display: block;
      }

      h2 {
        text-align: center;
        margin: 0 0 3rem;
        font-weight: 400;
        color: #4270DE;
        font-size: 1.5rem;
      }

      h3 {
        text-align: center;
        font-size: 1.5rem;
        color: #7C3FF9;
        margin-top: 4rem;
      }

      a {
        font-weight: 400;
        color: #4270DE;
      }

      .container {
        padding: 2rem 1rem;
        max-width: 85ch;
        margin: auto;
      }

      footer {
        background: linear-gradient(220.55deg, #00E0EE 0%, #AD00FE 100%);
        color: white;
        padding: 1rem;
      }

      footer a {
        color: white;
      }

      footer hr {
        margin: 2rem;
        border: none;
        border-top: 1px solid white;
      }

      pre {
        background: #7C3FF9;
        border-radius: 0.25rem;
        padding: 1rem;
        color: white;
        max-width: max-content;
        margin: 0 auto;
        overflow-x: auto;
      }

      .browserlist {
        display: grid;
        text-align: center;
        list-style: none;
        gap: 3rem;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat( auto-fit, minmax(7rem, 1fr) );
      }

      .browserlist img {
        width: 100%;
        height: auto;
      }

      .entry {
        position: relative;
        font-size: 1.25rem;
      }

      .entry__version {
        font-size: 1.75rem;
        width: min-content;
        margin: -1.5rem auto 2rem;
        isolation: isolate;
        background: white;
        padding: 0.75rem 0.75rem 0.5rem;
        border-radius: 0.25rem;
        border: 2px solid #7C3FF9;
      }

      .entry__version span {
        font-weight: bold;
        background: linear-gradient(220.55deg, #00E0EE 0%, #AD00FE 100%);
        background-clip: text;
          -webkit-background-clip: text;
        color: transparent;
      }

      .center {
        text-align: center;
      }

      .space-between {
        display: flex;
        justify-content: space-between;
      }

      .bold {
        font-weight: 800;
      }
    </style>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="home">{{ metadata.title }}</h1>
        <h2>Current browser versions and release notes as site, feed or API.</h2>
      </header>

      <main>

        {{ content | safe }}
      </main>
    </div>
    <footer>
      <div class="container">
        <div class="space-between">
          <div>Based on <a href="https://github.com/mdn/browser-compat-data/tree/main/browsers">MDN Compat Data</a>.</div>
          <div>Made by <a href="https://www.stefanjudis.com">Stefan Judis</a></div>
        </div>
        <hr>
        <div class="center">
          Rebuilt <strong>{{ config.builtAt() }}</strong>.
        </div>
      </div>
    </footer>
  </body>
</html>
